S3method(plot,bootmatch)
S3method(plot,psrange)
S3method(print,bootmatch)
S3method(print,psrange)
S3method(summary,bootmatch)
S3method(summary,psrange)
export(loess.plot)
export(psa.strata)
export(psrange)
